<h1>Figure out your change!</h1>
<form action='/coin_combo'>
  <div class="form-group">
    <label for="money_input">Enter the word:</label>
    <input id="money_input" name="money_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form>
